// styles.scss

$table-bg-color: #f2f2f2;
$table-header-bg-color: #d3d3d3;
$table-header-text-color: #333;
$table-row-hover-color: #e0e0e0;

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 2px solid var(--main-grey-01, #f8f8f9);
  @include toRem(border-radius, 24);

  th,
  td {
    padding: 10px;
    text-align: left;
  }

  thead {
    background-color: $table-header-bg-color;
    color: $table-header-text-color;
    cursor: pointer;
  }

  tbody {
    tr {
      @include toRem(font-size, 24);
      padding: 14px 140px 14px 27px;
      font-weight: 400;
      &:hover {
        background-color: $table-row-hover-color;
      }
    }
  }

  tr:nth-child(even) {
    background-color: $table-bg-color;
  }

  @media (max-width: 768px) {
    th,
    td {
      display: block;
      width: 100%;
    }

    thead {
      display: none;
    }

    tbody {
      tr {
        margin-bottom: 15px;
        display: block;
      }

      td {
        text-align: center;
        &:before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  width: 100%;

  p {
    height: 30px;
    @include toRem(font-size, 18);

    span {
      border: 1px solid  #d9dade;
      border-radius: 8px;
      padding: 12px;
    }
  }

  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;

    .page-num {
      padding: 8px 15px;
      cursor: pointer;
      border-radius: 3px;
      font-weight: 400;
      border: 1px solid;
      color: rgb(50, 50, 48);

      &:hover {
        // color: #fff;

        border-color: $table-row-hover-color;
      }

      &:active {
        border: 1px solid;
        background-color: $table-bg-color;
      }
    }
  }
}
